(                                                                                                                                                                                     
normal_slimes: 0,                             
tanks: 5,
wizards: 5,
)                                                                                                                                                                                     
           