(
    army: (
        normal: (
            count: 10,
            hp: 5,
        ),
        tanks: (
            count: 0,
            hp: 10,
            block_chance: 0.2,
            stun_chance: 0.1,
        ),
        wizards: (
            count: 0,
            hp: 5,
            spell_range: 500.0,
            aoe_damage: 1,
            spear_knockback: 200.0,
        ),
    ),
    goop: 8,
)