(                                                                                                                                                                                     
normal_slimes: 1,                             
tanks: 10,
wizards: 1,
)                                                                                                                                                                                     
           